# 실전 크롤링

## 1. 영화랭킹

✓ 박스오피스 1~30위 순위의 영화 정보 dictionary로 갖고 오기 \
갖고 올 정보 : 순위, 제목, 관객 수

In [51]:
import requests
from bs4 import BeautifulSoup

URL = 'https://search.naver.com/search.naver?sm=tab_sug.top&where=nexearch&ssc=tab.nx.all&query=%EC%98%81%ED%99%94%EC%88%9C%EC%9C%84&oquery=%EC%98%81%ED%99%94&tqi=iFZ%2BNdqo1aVssu%2B4ZOhssssstzV-222396&acq=%EC%98%81%ED%99%94&acr=2&qdt=0'

response = requests.get(URL)
soup = BeautifulSoup(response.text, 'html.parser')

In [52]:
item_list = soup.select('._panel_popular ._panel .item')

result = []

for item in item_list:
    num = item.select_one('.thumb .cm_thumb_rank_number .this_text').text
    title = item.select_one('.title_box .name').text
    audions = item.select_one('.title_box .sub_text').text

    if int(num) <= 30:
        result.append(dict(
            순위=num,
            제목=title,
            관객수=audions
        ))

# # 순위
# ._panel .item .thumb .cm_thumb_rank_number .this_text
# # 제목
# ._panel .item .title_box .name .get_text()
# # 관객수
# ._panel .item .title_box .sub_text .get_text()
print(result)
print(len(result))

[{'순위': '1', '제목': '소방관', '관객수': '8만명'}, {'순위': '2', '제목': '모아나 2', '관객수': '2.5만명'}, {'순위': '3', '제목': '위키드', '관객수': '1.7만명'}, {'순위': '4', '제목': '대가족', '관객수': '1.7만명'}, {'순위': '5', '제목': '1승', '관객수': '7,652명'}, {'순위': '6', '제목': '서브스턴스', '관객수': '6,318명'}, {'순위': '7', '제목': '퍼스트레이디', '관객수': '5,138명'}, {'순위': '8', '제목': '히든페이스', '관객수': '4,990명'}, {'순위': '9', '제목': '인터스텔라', '관객수': '4,248명'}, {'순위': '10', '제목': '극장판 주술회전 0', '관객수': '2,192명'}, {'순위': '11', '제목': '이처럼 사소한 것들', '관객수': '1,381명'}, {'순위': '12', '제목': '원정빌라', '관객수': '974명'}, {'순위': '13', '제목': '덩케르크', '관객수': '842명'}, {'순위': '14', '제목': '아키라', '관객수': '758명'}, {'순위': '15', '제목': '더 크로우', '관객수': '704명'}, {'순위': '16', '제목': '캐롤', '관객수': '650명'}, {'순위': '17', '제목': '글래디에이터 Ⅱ', '관객수': '636명'}, {'순위': '18', '제목': '매트릭스', '관객수': '587명'}, {'순위': '19', '제목': '크리스마스에 기적을 만날 확률', '관객수': '552명'}, {'순위': '20', '제목': '듄: 파트2', '관객수': '509명'}, {'순위': '21', '제목': '엔시티 드림 미스터리 랩: ...', '관객수': '472명'}, {'순위': '22', '제목': '엠호텔', '관객수': '395명'}, {'순위': '23', '제목': '듄', '관객수': '348명'}, {'순위': '24', '제목': '공각기동대', '관객수': '322명'}, {'순위': '25', '제목': '포레스트 검프', '관객수': '301명'}, {'순위': '26', '제목': '폴라로이드 작동법', '관객수': '287명'}, {'순위': '27', '제목': '시빌 워: 분열의 시대', '관객수': '268명'}, {'순위': '28', '제목': '나의 히어로 아카데미아 더 ...', '관객수': '264명'}, {'순위': '29', '제목': '플레이브 팬 콘서트 ‘헬로,...', '관객수': '251명'}, {'순위': '30', '제목': '면접교섭', '관객수': '200명'}]
30

## 2. 주가 크롤링_1
- 순위, 종목명, 현재가

In [11]:
import requests
from bs4 import BeautifulSoup

url = 'https://finance.naver.com/sise/sise_quant.nhn'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [ ]:
# 순위, 종목명, 현재가
# 1 삼성중공업 6,970

# 순위
# table.type_2 td.no
# 종목명
# table.type_2 td a.tltle
# 현재가
# table.type_2 td.number

tr_list = soup.select('table tr')

for tr in tr_list:
    if tr.select_one('td.no'):
        no = tr.select_one('td.no').text
        title = tr.select_one('td a.tltle').text
        number = tr.select_one('td.number').text
        print(no, title, number)

1 대원전선 3,370
2 KODEX 200선물인버스2X 2,485
3 SG글로벌 3,770
4 오리엔트바이오 1,170
5 KODEX 코스닥150선물인버스 4,105
6 KODEX 코스닥150레버리지 6,890
7 코오롱모빌리티그룹 2,880
8 한국ANKOR유전 350
9 삼부토건 991
10 일신석재 2,460
11 삼성 인버스 2X WTI원유 선물 ETN 95
12 삼성전자 54,200
13 KODEX 레버리지 14,515
14 TIGER 2차전지TOP10 8,870
15 KODEX 인버스 4,700
16 일성건설 3,200
17 이스타코 1,528
18 KODEX 2차전지산업레버리지 1,380
19 이수페타시스 25,300
20 형지엘리트 1,955
21 명문제약 2,050
22 대상홀딩스 10,570
23 대원전선우 4,630
24 한화생명 2,460
25 KODEX 코스닥150 11,455
26 ACE 포스코그룹포커스 4,420
27 인디에프 1,027
28 한화투자증권 3,980
29 삼성 인버스 2X 코스닥150 선물 ETN 7,555
30 KODEX AI전력핵심설비 9,535
31 삼일제약 14,400
32 동양생명 4,730
33 두산에너빌리티 17,670
34 KOSEF 미국양자컴퓨팅 10,325
35 범양건영 3,460
36 금양 26,200
37 써니전자 2,480
38 에이프로젠 854
39 KODEX 200 32,710
40 TIGER 2차전지소재Fn 4,290
41 TIGER 미국S&P500 21,705
42 동원금속 1,384
43 태양금속 2,495
44 ACE 테슬라밸류체인액티브 20,650
45 SK하이닉스 183,800
46 신원 1,421
47 ACE 미국30년국채액티브(H) 8,105
48 한화시스템 20,750
49 한국패러랠 162
50 TIGER 200선물인버스2X 2,630
51 TIGER 2차전지TOP10레버리지 1,539
52 삼성중공업 11,120
53 대창 1,375
54 보해양조 514
55 대한전선 11,850
56 TIGER 미국필라델피아AI반도체나스닥 11,115
57 유한양행 113,000
58 우리금융지주 15,330
59 HJ중공업 4,180
60 KODEX 2차전지산업 12,970
61 CJ씨푸드 3,270
62 TIGER 화장품 2,680
63 TIGER 미국배당다우존스 12,865
64 한화오션 32,950
65 TIGER 엔비디아미국채커버드콜밸런스(합성) 9,970
66 TIGER 미국30년국채커버드콜액티브(H) 8,770
67 TIGER 미국테크TOP10 INDXX 25,660
68 삼성전자우 44,850
69 카카오 43,350
70 동양철관 700
71 TIGER 차이나전기차SOLACTIVE 9,350
72 BNK금융지주 10,800
73 참엔지니어링 341
74 한국앤컴퍼니 21,300
75 파미셀 7,630
76 코오롱 15,310
77 한미반도체 86,100
78 KODEX 미국서학개미 19,730
79 체시스 1,133
80 TYM 4,900
81 SOL 조선TOP3플러스 14,205
82 롯데지주 24,100
83 신성통상 2,125
84 KODEX 미국S&P500TR 19,905
85 온타이드 435
86 한화리츠 3,525
87 TIGER 미국필라델피아반도체나스닥 19,855
88 LG유플러스 11,030
89 KB금융 85,300
90 한국가스공사 35,050
91 TIGER 미국배당다우존스타겟커버드콜2호 10,880
92 일진전기 27,350
93 서원 1,176
94 화천기계 2,605
95 현대로템 48,550
96 진양산업 9,130
97 KODEX 미국나스닥100TR 21,185
98 KODEX 금융고배당TOP10타겟위클리커버드콜 9,850
99 한국종합기술 6,110
100 케이카 14,860

## 3. 주가 크롤링_2
- 전일 대비 상승한 항목만 
- 순위, 품목명, 현재가, 전일비

In [43]:
import requests
from bs4 import BeautifulSoup

url = 'https://finance.naver.com/sise/sise_quant.nhn'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [47]:
# 순위
# table.type_2 td.no
# 품목명
# table.type_2 td a.tltle
# 현재가
# table.type_2 td.number
# 전일비
# 상승한 것만
# table.type_2 td.number em.bu_p.bu_pup span  .get_text() -> ^='상'
# table.type_2 td.number .tah.p11 .get_text()

tr_list = soup.select('table tr')

for tr in tr_list:
    if (tr.select_one('td.no')) and (tr.select_one('td.number em.bu_p.bu_pup span')) and (tr.select_one('td.number em.bu_p.bu_pup span').text == '상승'):
        no = tr.select_one('td.no').text.strip()
        title = tr.select_one('td a.tltle').text.strip()
        number = tr.select_one('td.number').text.strip()
        yesterdaty = tr.select_one('td.number .tah.p11').text.strip()
        print(no, title, number, yesterdaty)

1 대원전선 3,365 155
2 KODEX 200선물인버스2X 2,495 55
3 SG글로벌 3,670 405
4 오리엔트바이오 1,171 11
5 KODEX 코스닥150선물인버스 4,105 55
7 코오롱모빌리티그룹 2,790 265
8 한국ANKOR유전 350 24
10 삼부토건 995 28
15 KODEX 인버스 4,710 55
19 이수페타시스 26,300 1,350
20 명문제약 1,935 54
21 형지엘리트 1,993 39
23 대상홀딩스 10,580 570
25 대원전선우 4,530 710
26 KODEX AI전력핵심설비 9,565 150
30 삼성 인버스 2X 코스닥150 선물 ETN 7,530 180
33 삼일제약 14,210 1,290
35 KOSEF 미국양자컴퓨팅 10,325 325
36 범양건영 3,500 70
40 태양금속 2,515 90
42 온타이드 447 38
43 TIGER 미국S&P500 21,710 80
45 SK하이닉스 183,800 4,500
46 ACE 테슬라밸류체인액티브 20,645 1,260
49 TIGER 200선물인버스2X 2,640 55
50 한국패러랠 164 3
55 대창 1,369 3
58 CJ씨푸드 3,250 155
59 보해양조 511 10
60 TIGER 미국필라델피아AI반도체나스닥 11,105 195
62 HJ중공업 4,260 355
69 TIGER 미국테크TOP10 INDXX 25,680 465
71 한국앤컴퍼니 20,450 2,890
73 KODEX 미국서학개미 19,740 675
74 롯데지주 24,600 2,700
76 체시스 1,141 14
77 동양철관 699 16
78 TIGER 차이나전기차SOLACTIVE 9,350 120
79 파미셀 7,640 100
80 TIGER 미국필라델피아반도체나스닥 19,860 365
81 참엔지니어링 342 9
84 한미반도체 86,700 2,900
88 한국가스공사 35,250 1,400
89 KODEX 미국S&P500TR 19,915 80
91 한화리츠 3,530 15
94 일진전기 27,650 1,200
97 케이카 14,740 1,340
98 KODEX 미국나스닥100TR 21,195 320