# 1. 자료형 확인
- type 클래스 (`type()`)를 통해 데이터의 유형(타입)을 확인할 수 있다.

## 1.1 int 타입 확인

In [15]:
print(type(5))

<class 'int'>

print 문을 사용하지 않을 경우 가장 마지막의 코드만 확인 할 수 있다.

In [19]:
1, 2, 3
1.1
type(1)
type(2)
type(3.1)

float

In [21]:
print([1,2,3])
type(1)
print(type(2))
print(type(3))
type(4)

[1, 2, 3]
<class 'int'>
<class 'int'>

int

## 1.2 sequence 타입 확인

### 1.2.1 str 타입

In [2]:
print(type('Hello, World'))

<class 'str'>

In [22]:
print(type('1'))

<class 'str'>

### 1.2.2 list 타입

대괄호()

In [3]:
print(type([1,2,3]))

<class 'list'>

### 1.2.3 tuple 타입

소괄호()

In [4]:
print(type((1,2,3)))

<class 'tuple'>

## 1.3 mapping 타입

중괄호{key:value}

In [5]:
print(type({'key': 'value'}))

<class 'dict'>

## 1.4 bool 타입

In [23]:
print(type(True))

<class 'bool'>

In [24]:
print(type(False))

<class 'bool'>

## 1.5 set 타입

중괄호{}

In [13]:
print(type({1,2,3}))

<class 'set'>

# 자료형 확인 실습 01
[문제] 각 데이터의 데이터타입(자료형)을 확인해주세요
1. 15827
2. 7.0
3. {1: 'a'}
4. "Hi, My name is 'Daisy'"
5. (812.324992, 'orange', ('test'))
6. ['apple', 3.513, {'test': 1}]

In [ ]:
print(type(15827))
print(type(7.0))
print(type({1: 'a'}))
print(type("Hi, My name is 'Daisy'"))
print(type((812.324992, 'orange', ('test'))))
print(type(['apple', 3.513, {'test': 1}]))

<class 'int'>
<class 'float'>
<class 'dict'>
<class 'str'>
<class 'tuple'>
<class 'list'>

In [37]:
print('1. 15827: ', type(15827))
print('2. 7.0: ', type(7.0))
print("3. {1: 'a'}: ", type({1: 'a'}))
print("4. \"Hi, My name is 'Daisy'\"", type("Hi, My name is 'Daisy'"))
print("5. (812.324992, 'orange', ('test'))", type((812.324992, 'orange', ('test'))))
print("6. ['apple', 3.513, {'test': 1}]", type(['apple', 3.513, {'test': 1}]))

1. 15827:  <class 'int'>
2. 7.0:  <class 'float'>
3. {1: 'a'}:  <class 'dict'>
4. "Hi, My name is 'Daisy'" <class 'str'>
5. (812.324992, 'orange', ('test')) <class 'tuple'>
6. ['apple', 3.513, {'test': 1}] <class 'list'>