# 1. 산술연산

## 1.1 덧셈

In [18]:
1 + 2
print(1 + 2)
print(type(1 + 2))

3
<class 'int'>

## 1.2 뺄셈

In [19]:
a = 5 - 2
print(a)
print(type(a))

3
<class 'int'>

## 1.3 곱셈

In [20]:
a = 3 * 4
print(a)
print(type(a))

12
<class 'int'>

print 로 감싸지 않으면 가장 아래의 코드가 아닌 이상 보이지 않는다.

In [25]:
2 * 5
print('123')

123

## 1.4 나눗셈

나눗셈의 결과값은 항상 float(실수)이다.

In [21]:
a = 4 / 2
print(a)
print(type(a))

2.0
<class 'float'>

## 1.5 나눗셈 (몫)

In [22]:
a = 5 // 2
print(a)
print(type(a))

2
<class 'int'>

## 1.6 나눗셈 (나머지)

In [23]:
a = 5 % 2
print(a)
print(type(a))

1
<class 'int'>

## 1.7 제곱

In [24]:
a = 2 ** 3
print(a)
print(type(a))

8
<class 'int'>

## 1.8 괄호 (우선순위)

In [26]:
4 + (5 * 6)

34

## 1.9 실습 01

[문제1] 13 + (22 - 3) x 4 의 결과를 구해보세요.

In [13]:
a = 13 + (22 - 3) * 4
print(a)
print(type(a))

89
<class 'int'>

[문제2] 13 + ((22 - 3) x 4) ÷ 5 의 결과를 구해보세요.

In [17]:
a = 13 + ((22 - 3) * 4) / 5
print(a)
print(type(a))

28.2
<class 'float'>

# 2. 숫자형 변환

## 2.1 정수 -> 실수

In [28]:
a = 2
print(a)
print(type(a))
d = float(a)
print(d)
print(type(d))

2
<class 'int'>
2.0
<class 'float'>

## 2.2 실수 -> 정수

In [ ]:
b = 2.0
print(b)
print(type(b))
c = int(b)
print(c)
print(type(c))

2.0
<class 'float'>
2
<class 'int'>

실수를 정수로 변환시 소수점 아래의 수는 잘린다.

In [32]:
b = 2.6 # 변수선언
print(b) # b 출력
print(type(b)) # b 의 타입확인
c = int(b) # 변수선언, 실수를 정수로 변환
print(c) # c 출력
print(type(c)) # c 의 타입확인

2.6
<class 'float'>
2
<class 'int'>

In [31]:
int(1.7)
int(4.5)

4