# 1. 변수명 생성

In [ ]:
x = 50 # x는 변수 / 50은 리터럴로 값 그자체

In [5]:
y = 20

In [9]:
print(x)
print(y)

50
20

## 1.1 변수 선언 및 생성 조건

1.1 영문, 숫자 사용 가능

In [1]:
a1 = 1
a2 = 2

print(a1)
print(a2)

1
2

In [2]:
a_1 = 1
a_2 = 2

print(a_1)
print(a_2)

1
2

a
b
c

1.2 대소문자 구분

In [ ]:
myTest = 'a' 
mytest = 'b'

my_test = 'c'

print(myTest)
print(mytest)
print(my_test)

1.3 숫자부터 시작할 수 없음

In [4]:
1a = 'a'

print(1a)

SyntaxError: invalid decimal literal (585608969.py, line 1)

1.4 특수문자 사용 불가능

In [5]:
a@ = 1

print(a@)

SyntaxError: invalid syntax (951486916.py, line 1)

1.5 파이썬 키워드 사용 불가

In [6]:
import = 1

SyntaxError: invalid syntax (3407073972.py, line 1)

In [7]:
import_ = 1
print(import_)

1

## 1.2 여러개의 변수 동시 선언(unpacking)

In [ ]:
k = 90
l = 80
m = 70
a, b, c = 10, 20, 30 # 10, 20, 30 은 소괄호가 생략된 튜플 1.튜플화 2.unpacking 3.할당
x = 10

In [18]:
print(a)
print(b)
print(c)
print()
print(x)
print(y)
print()
print(k)
print(l)
print(m)

10
20
30

10
20

90
80
70

In [ ]:
50, 60, 70 #튜플

(50, 60, 70)

In [ ]:
x, y, z = (11, 22, 33)
a, b, c = 44, 55, 66
k, l, m = [77, 88, 99]

print(x, y, z)
print(a, b, c)
print(k, l, m)

11 22 33
44 55 66
77 88 99

In [27]:
x, y, z = ['1', '2', '3']
print(x, y, z)
print('--------------------------')
print(type(x))
print('--------------------------')
print(type(x), type(y), type(z))
print('--------------------------')
print(type(x), type(y), type(z), sep='\n')
print('--------------------------')
print(type(x, y, z))
print('--------------------------')

1 2 3
--------------------------
<class 'str'>
--------------------------
<class 'str'> <class 'str'> <class 'str'>
--------------------------
<class 'str'>
<class 'str'>
<class 'str'>
--------------------------

TypeError: type.__new__() argument 2 must be tuple, not str

In [ ]:
a = (1, 2, 3)
#a[0] = 100 는 오류 튜플의 경우 불변성을 가지기 때문
print(a[0])

1

In [32]:
a = [1, 2, 3]
a[0] = 100
print(a)

[100, 2, 3]

In [33]:
test01 = 10
test02 = 20
test03 = 10

print(id(test01))
print(id(test02))
print(id(test03))

4314841616
4314841936
4314841616

# 2. 실습 01 

[문제1] 실행 결과가 아래와 같이 출력되도록 하나의 셀에 코드를 작성하세요.

`>> Hello, World!` \
`>> Hello, World!` \
`>> Python Programming`

출력되도록 = print()

In [9]:
print('Hello, World!')
# print('Hello, World!')
'Hello World!'
print('Python')

Hello, World!
Python

In [10]:
a = 'Hello World!'
b = 'Pyhon'

print(a)
print(a)
print(b)

Hello World!
Hello World!
Pyhon

In [8]:
x = 'Hello, World!'
y = 'Python Programming'

print(x, x, y, sep='\n')

Hello, World!
Hello, World!
Python Programming

# 3. 변수로 계산하기

## 3.1 변수로 계산하기

In [11]:
1 + 1

2

In [12]:
a = 1
b = 4
a + b

5

In [13]:
x = 3
y = 4
z = x + y
print(z)

7

In [14]:
x = 10
print(x + 10)

20

In [ ]:
k = 10
k + 10
k = k + 10
print(k)

print(x)
x += 10 #이전 할당된 값에 10을 더해라
print(x)

20
180
190

## 3.2 복합 할당 연산자

In [ ]:
z = 10
z -= 10 #빼기
print(z)

0

In [ ]:
z = 10 #다시할당 = 값초기화
z *= 10 #곱하기
print(z)

100

In [ ]:
z = 10
z /= 10 #나누기
print(z) #나눗셈의 결과는 항상 실수

1.0

In [ ]:
z = 10
z **= 10 #제곱
print(z)

10000000000

# 4. 비어있는 변수 None

In [49]:
if 1 != 1:
    print('다릅니다.')

if None:
    print('다릅니다.')

if 1 == 1:
    print('동일합니다.')

if (1 == 1):
    print('동일합니다.')
    print('if 안')
print('if 밖')

if (1 != 1):
    print('다릅니다.')
    print('if 안')
print('if 밖')

동일합니다.
동일합니다.
if 안
if 밖
if 밖

In [51]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

In [ ]:
x = None
b = 1

print(x)

None

# 5. 변수 삭제 (del)

In [56]:
x = 10
print(10)

10

In [57]:
del x
print(x)

NameError: name 'x' is not defined

In [ ]:
x = input() #사용자에게 값을 할당받을 수 있는 함수
print(x)

50

In [ ]:
print(type(x)) #input 특성상 어떤한 값을 받더라도 문자형으로 도출함

<class 'str'>

In [ ]:
x = input()
y = input()

print(x + y) #문자열이 연결된 상태로 나타남
print(type(x + y)) #input 특성상 어떤한 값을 받더라도 문자형으로 도출함

2030
<class 'str'>

In [ ]:
x = input()
# x = '5'
print(type(x))

x = int(x) #input 을 통해 받은 문자열을 숫자형으로 바꿔줌 - 숫자형이 아닐경우 오류가 남
print(x)
print(type(x))

<class 'str'>

ValueError: invalid literal for int() with base 10: 'hello'

# 6. 실습 02
[문제] 사용자로부터 변수 x, 변수 y에 정수를 입력받아 더하고 곱하는 프로그램을 작성하세요
- x에 20 입력해보기
- y에 30 입력해보기

In [ ]:
c = int(input())
x = c
y = c #c 에 할당된 닶을 불러온다는 것 즉 input 은 한번실행되고 그값이 c에 할당되면 할당된값을
print(id(x))
print(id(y))
z = x * y # 곱하겠다는것 그래서 input에 30 이 들어간다면 할당된 값인 30 * 30 이 되는 것
print(z)
print(type(z))

4370269328
4370269328
900
<class 'int'>

In [ ]:
x = int(input()) # input 함수를 실행 x 에 할당
y = int(input()) # input 함수를 실행 y 에 할당
print(id(x))
print(id(y))
z = x * y # 할당된 x, y 를 곱함
print(z)
print(type(z))

4370269008
4370269328
600
<class 'int'>