# 1. 변수명 생성

In [ ]:
x = 50 # x는 변수 / 50은 리터럴로 값 그자체

In [5]:
y = 20

In [9]:
print(x)
print(y)

50
20

## 1.1 변수 선언 및 생성 조건

1.1 영문, 숫자 사용 가능

In [1]:
a1 = 1
a2 = 2

print(a1)
print(a2)

1
2

In [2]:
a_1 = 1
a_2 = 2

print(a_1)
print(a_2)

1
2

a
b
c

1.2 대소문자 구분

In [ ]:
myTest = 'a' 
mytest = 'b'

my_test = 'c'

print(myTest)
print(mytest)
print(my_test)

1.3 숫자부터 시작할 수 없음

In [4]:
1a = 'a'

print(1a)

SyntaxError: invalid decimal literal (585608969.py, line 1)

1.4 특수문자 사용 불가능

In [5]:
a@ = 1

print(a@)

SyntaxError: invalid syntax (951486916.py, line 1)

1.5 파이썬 키워드 사용 불가

In [6]:
import = 1

SyntaxError: invalid syntax (3407073972.py, line 1)

In [7]:
import_ = 1
print(import_)

1

## 1.2 여러개의 변수 동시 선언(unpacking)

In [ ]:
k = 90
l = 80
m = 70
a, b, c = 10, 20, 30 # 10, 20, 30 은 소괄호가 생략된 튜플 1.튜플화 2.unpacking 3.할당
x = 10

In [18]:
print(a)
print(b)
print(c)
print()
print(x)
print(y)
print()
print(k)
print(l)
print(m)

10
20
30

10
20

90
80
70

In [ ]:
50, 60, 70 #튜플

(50, 60, 70)

In [ ]:
x, y, z = (11, 22, 33)
a, b, c = 44, 55, 66
k, l, m = [77, 88, 99]

print(x, y, z)
print(a, b, c)
print(k, l, m)

11 22 33
44 55 66
77 88 99

In [27]:
x, y, z = ['1', '2', '3']
print(x, y, z)
print('--------------------------')
print(type(x))
print('--------------------------')
print(type(x), type(y), type(z))
print('--------------------------')
print(type(x), type(y), type(z), sep='\n')
print('--------------------------')
print(type(x, y, z))
print('--------------------------')

1 2 3
--------------------------
<class 'str'>
--------------------------
<class 'str'> <class 'str'> <class 'str'>
--------------------------
<class 'str'>
<class 'str'>
<class 'str'>
--------------------------

TypeError: type.__new__() argument 2 must be tuple, not str

In [ ]:
a = (1, 2, 3)
#a[0] = 100 는 오류 튜플의 경우 불변성을 가지기 때문
print(a[0])

1

In [32]:
a = [1, 2, 3]
a[0] = 100
print(a)

[100, 2, 3]

In [33]:
test01 = 10
test02 = 20
test03 = 10

print(id(test01))
print(id(test02))
print(id(test03))

4314841616
4314841936
4314841616

# 2. 실습 01 

[문제1] 실행 결과가 아래와 같이 출력되도록 하나의 셀에 코드를 작성하세요.

`>> Hello, World!` \
`>> Hello, World!` \
`>> Python Programming`

In [8]:
x = 'Hello, World!'
y = 'Python Programming'

print(x, x, y, sep='\n')

Hello, World!
Hello, World!
Python Programming

# 3. 변수로 계산하기

## 3.1 변수로 계산하기

## 3.2 복합 할당 연산자

# 4. 비어있는 변수 None

# 5. 변수 삭제 (del)

# 6. 실습 02
[문제] 사용자로부터 변수 x, 변수 y에 정수를 입력받아 더하고 곱하는 프로그램을 작성하세요
- x에 20 입력해보기
- y에 30 입력해보기