# 문자형

# 1. 문자열 생성

## 1.1 작은 따옴표와 큰 따옴표를 통한 문자열 생성 방식

In [1]:
a = 'Hello, World!'
b = "Hello, World!"

print(a, b, sep='\n')

Hello, World!
Hello, World!

In [3]:
a # 값 그자체를 보여줌

'Hello, World!'

In [4]:
print(id(a))
print(id(b))

4424870192
4424863344

## 1.2 작은 따옴표와 큰 따옴표 혼용

In [13]:
print('Hello, "This is my world!"')
print("Hello 'This is my world!'")

Hello, "This is my world!"
Hello 'This is my world!'

In [11]:
print("Hello "This is my world!"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1486424590.py, line 1)

## 1.3 이스케이프 문자 역슬래시 활용

In [ ]:
print('Hello, \'This is my world!\'')
print("Hello, \"This is my world!\"")

Hello, 'This is my world!'
Hello, "This is my world!"

## 1.4 줄바꿈

In [ ]:
print('Hello, :\n"This is my world!"')
print("Hello, :\n'This is my world!'")
print('\n')

a = 'This is my example:\nHello, World!'
b = "This is my example:\nHello, World!"

print(a)
print(b)
print('\n')
print(a, b, sep='\n\n')

Hello, :
"This is my world!"
Hello, :
'This is my world!'


This is my example:
Hello, World!
This is my example:
Hello, World!


This is my example:
Hello, World!

This is my example:
Hello, World!

In [25]:
a

'This is my example:\nHello, World!'

In [28]:
a = 'c:\name'
# print(a)

b = r'c:\name'
# print(b)

c = 'c:\\name'
# print(c)

print(a, b, c, sep='\n\n')

c:
ame

c:\name

c:\name

## 1.5 삼중 따옴표를 통한 줄바꿈

In [29]:
a = '''This is my example:
Hellow World!'''


b = """This is my example:
Hellow, World!"""

print(a, b, sep='\n\n')

This is my example:
Hellow World!

This is my example:
Hellow, World!

In [31]:
c = '''
This is my example:
Hellow World!
'''


d= """This is my example:
Hellow, World!"""

print(c, d, sep='\n\n')

This is my example:
Hellow World!


This is my example:
Hellow, World!

In [32]:
e = '''\
This is my example:
Hellow World!\
'''


f = """This is my example:
Hellow, World!"""

print(e, f, sep='\n\n')

This is my example:
Hellow World!

This is my example:
Hellow, World!

# 실습 01
[문제] 아래 문장을 리터럴로 만든 후 출력(print)하세요.
- 주어진 문장: “안녕?”이라는 그 인사를 듣고 나는 ‘누구지?’라고 생각 했다.
- 결과: “안녕?”이라는 그 인사를 듣고 나는 ‘누구지?’라고 생각 했다.

In [ ]:
x = "“안녕?”이라는 그 인사를 듣고 나는 ‘누구지?’라고 생각 했다."
y = '“안녕?”이라는 그 인사를 듣고 나는 ‘누구지?’라고 생각 했다.'

print(x)
print(y)

“안녕?”이라는 그 인사를 듣고 나는 ‘누구지?’라고 생각 했다.
“안녕?”이라는 그 인사를 듣고 나는 ‘누구지?’라고 생각 했다.

In [39]:
# 방법 1
print("\"안녕?\"이라는 그 인사를 듣고 나는 ‘누구지?’라고 생각 했다.")
print('"안녕?"이라는 그 인사를 듣고 나는 \'누구지?\'라고 생각 했다.')

"안녕?"이라는 그 인사를 듣고 나는 ‘누구지?’라고 생각 했다.
"안녕?"이라는 그 인사를 듣고 나는 '누구지?'라고 생각 했다.

# 2. 문자열 연산

## 2.1 덧셈

In [42]:
a = 'Hello' + 'Hello'
print(a)
a

HelloHello

'HelloHello'

## 2.2 곱셈

In [44]:
a = 'Hello'
print(a * 3)
a * 3

HelloHelloHello

'HelloHelloHello'

In [45]:
b = 'Hello' * 10
print(b)
b

HelloHelloHelloHelloHelloHelloHelloHelloHelloHello

'HelloHelloHelloHelloHelloHelloHelloHelloHelloHello'

In [49]:
a = '안녕하세요?'
b = '저는 전혜란입니다.'

print(a, b)
print(a, b, sep='')
print(a, b, sep='\n')

안녕하세요? 저는 전혜란입니다.
안녕하세요?저는 전혜란입니다.
안녕하세요?
저는 전혜란입니다.

In [52]:
c = ''
print(c)
print(type(c))
c

<class 'str'>

''

In [ ]:
d = '문자열을 더해보았습니다.'

print('1.', c, d) # sep=' ' 디폴트 때문에 출력시 공백이 들어간다. - 두개의 객체를 받은것
print('2.', c, d, sep='') # 디폴트값을 수정하여서 출력
print('3.', c + d) # c 와 d 문자열을 합해서 출력한것
print(c + d) # c 와 d 문자열을 합해서 출력한것 - 하나의 문자열만 출력한것이기때문에 sep=' ' 이 적용되지 않는것 - 한개의 객체만 받은것
print('4. ',c + d, sep='') # c 와 d 문자열을 합해서 출력한것

e = c + d
print(e)

1.  문자열을 더해보았습니다.
2.문자열을 더해보았습니다.
3. 문자열을 더해보았습니다.
문자열을 더해보았습니다.
4. 문자열을 더해보았습니다.
문자열을 더해보았습니다.

# 실습 02

[문제] 다음의 글에서 '너무'를 총 100회 출력되도록 하세요.
- 출력 결과: 
    너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무
    너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무
    너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무
    너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무
    파이썬 공부가 즐겁습니다.

In [ ]:
x = '너무' * 100
y = '파이썬 공부가 즐겁습니다.'
print(x, y) # sep=' ' 기본값이 적용됨

너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무 파이썬 공부가 즐겁습니다.

In [69]:
answer = '너무' * 100 + ' 파이썬 공부가 즐겁습니다.' # 하나의 변수, 하나의 문자열로 만든것

print(answer)

너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무 파이썬 공부가 즐겁습니다.

In [70]:
len(answer)

215

In [ ]:
a = '너무'
print(a*100 + '파이썬!') # 1객의 객체 입력 -...너무너무파이썬!
print(a*100, '파이썬!') # 2객의 객체 입력 -...너무너무 파이썬!

너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무파이썬!
너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무 파이썬!

# 3. 문자열 함수

## 3.1 len()

In [68]:
word = 'apple banana'
len(word)
# len('apple banana')

12

In [ ]:
len(word) # word 의 외부에서 len 이 선언된 것 - 외부함수 사용법
word.count('a') # word 라는 클래스안의 count(str()의 내부함수) 함수를 사용 - 내부함수 사용법

4

## 3.2 replace()

In [73]:
word = 'apple banana'
print(word.replace('a', '8'))

8pple b8n8n8

In [74]:
word = 'apple banana'
new_word = word.replace('a', '2')

print(new_word)

2pple b2n2n2

In [78]:
new_word2 = new_word.replace('n', '5')
print(new_word2)

2pple b25252

In [80]:
new_word3 = new_word2.replace(' ', '')
print(new_word3)

2ppleb25252

In [92]:
x = input('x의 값: ')
# y = input('y의 값: ')
# z = input('z의 값: ')

# test_word = 'x = a, y = b, z = c'
test_word = 'x = a'
test_word2 = test_word.replace('a', x)
print(test_word2)
# test_word.replace('b', y)
# print(test_word)
# test_word.replace('c', z)
# print(test_word)

# print(test_word)

print(test_word.replace('a', x)) # 결과값만 보여주는것 test_word 에 반영이 된것은 아님
print(test_word) # 그래서 결국에 test_word 가 변형되지는 않았음

x = 100
x = 100
x = a

## 3.3 upper(), lower()

In [101]:
word = 'apple banana'
print(word.upper())

APPLE BANANA

In [ ]:
print(word) # 실행한 순서에 따라 초기화값이 달라진다.

apple banana

In [103]:
word = word.upper()
print(word)

APPLE BANANA

In [105]:
word = 'APPLE BANANA'
print(word.lower())

apple banana

In [110]:
word

'apple banana'

In [109]:
word = word.lower()
print(word)

apple banana

# 4. 문자열 인덱싱

In [115]:
word = 'python'
# word[0]
word_p = word[0]
print(word_p)

p

In [118]:
print(word[5])
print(word[-1])

n
n

In [ ]:
word = 'python'
len(word)
# word[len - 1]

6

In [125]:

word[1] = 'Y'

TypeError: 'str' object does not support item assignment

In [ ]:
word = 'python'
word2 = word

print(type(word))
print(type(word2))

<class 'str'>
<class 'str'>

# 실습 03
[문제] 
- sentence 라는 명칭의 변수를 선언하고 '중요한 것은 꺾이지 않는 마음'의 문자열 리터럴을 할당하세요
- 그리고 인덱싱을 활용하여 '꺽'을 출력해보세요.

In [123]:
sentence = '중요한 것은 꺾이지 않는 마음'
print(len(sentence))
print(sentence[7])
sentence_중꺾마 = sentence[0] + sentence[7] + sentence[-2]
print(sentence_중꺾마)

16
꺾
중꺾마

# 5. 문자열 슬라이싱

# 실습 04
[문제1]
- sentence라는 명칭의 변수를 선언하고 ‘중요한 것은 꺾이지 않는 마음’의 문자열 리터럴을 할당하세요.
- 그리고 슬라이싱을 활용하여 '**꺾이지 않는 마음**'을 출력해보세요.

[문제2]
- sentence라는 명칭의 변수를 선언하고 ‘중요한 것은 꺾이지 않는 마음’의 문자열 리터럴을 할당하세요.
- 그리고 슬라이싱을 활용하여 '**한요중**'을 출력해보세요.

# 6. 서식지정자

## 6.1 %s 포매팅

1. 기본 사용 법

2. 응용1: 공백 추가

3. 여러개의 문자 추가

## 6.2 %d 포매팅

## 6.3 %f 포매팅

1. 기본 사용 방식

2. 응용1: 지정한 소수점 이하 자리까지 출력

3. 응용2: 너비만큼 0으로 채우기

# 7. format 함수

1. 기본 사용 방식

2. 변수 활용

# 8. f-string

# 실습 05

## 05-1 

[문제] 문자를 입력 받아 공백을 모두 제거하고 출력하세요

[실행 결과] \
아무 문자나 입력해주세요 : 안녕하세요 반갑습니다. \
안녕하세요반갑습니다.

## 05-2 

[문제] 이름과 점수 3개를 입력받아 아래와 같이 출력하세요


[실행 결과] \
이름을 입력해주세요: 홍길동 \
첫 번째 점수를 입력해주세요: 80 \
두 번째 점수를 입력해주세요: 70 \
세 번째 점수를 입력해주세요: 60 \
저의 이름은 홍길동이고 총점은 210 입니다.