# 문자형

# 1. 문자열 생성

## 1.1 작은 따옴표와 큰 따옴표를 통한 문자열 생성 방식

In [1]:
a = 'Hello, World!'
b = "Hello, World!"

print(a, b, sep='\n')

Hello, World!
Hello, World!

In [3]:
a # 값 그자체를 보여줌

'Hello, World!'

In [4]:
print(id(a))
print(id(b))

4424870192
4424863344

## 1.2 작은 따옴표와 큰 따옴표 혼용

In [13]:
print('Hello, "This is my world!"')
print("Hello 'This is my world!'")

Hello, "This is my world!"
Hello 'This is my world!'

In [11]:
print("Hello "This is my world!"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1486424590.py, line 1)

## 1.3 이스케이프 문자 역슬래시 활용

In [ ]:
print('Hello, \'This is my world!\'')
print("Hello, \"This is my world!\"")

Hello, 'This is my world!'
Hello, "This is my world!"

## 1.4 줄바꿈

In [ ]:
print('Hello, :\n"This is my world!"')
print("Hello, :\n'This is my world!'")
print('\n')

a = 'This is my example:\nHello, World!'
b = "This is my example:\nHello, World!"

print(a)
print(b)
print('\n')
print(a, b, sep='\n\n')

Hello, :
"This is my world!"
Hello, :
'This is my world!'


This is my example:
Hello, World!
This is my example:
Hello, World!


This is my example:
Hello, World!

This is my example:
Hello, World!

In [25]:
a

'This is my example:\nHello, World!'

In [28]:
a = 'c:\name'
# print(a)

b = r'c:\name'
# print(b)

c = 'c:\\name'
# print(c)

print(a, b, c, sep='\n\n')

c:
ame

c:\name

c:\name

## 1.5 삼중 따옴표를 통한 줄바꿈

In [29]:
a = '''This is my example:
Hellow World!'''


b = """This is my example:
Hellow, World!"""

print(a, b, sep='\n\n')

This is my example:
Hellow World!

This is my example:
Hellow, World!

In [31]:
c = '''
This is my example:
Hellow World!
'''


d= """This is my example:
Hellow, World!"""

print(c, d, sep='\n\n')

This is my example:
Hellow World!


This is my example:
Hellow, World!

In [32]:
e = '''\
This is my example:
Hellow World!\
'''


f = """This is my example:
Hellow, World!"""

print(e, f, sep='\n\n')

This is my example:
Hellow World!

This is my example:
Hellow, World!

# 실습 01
[문제] 아래 문장을 리터럴로 만든 후 출력(print)하세요.
- 주어진 문장: “안녕?”이라는 그 인사를 듣고 나는 ‘누구지?’라고 생각 했다.
- 결과: “안녕?”이라는 그 인사를 듣고 나는 ‘누구지?’라고 생각 했다.

In [ ]:
x = "“안녕?”이라는 그 인사를 듣고 나는 ‘누구지?’라고 생각 했다."
y = '“안녕?”이라는 그 인사를 듣고 나는 ‘누구지?’라고 생각 했다.'

print(x)
print(y)

“안녕?”이라는 그 인사를 듣고 나는 ‘누구지?’라고 생각 했다.
“안녕?”이라는 그 인사를 듣고 나는 ‘누구지?’라고 생각 했다.

In [39]:
# 방법 1
print("\"안녕?\"이라는 그 인사를 듣고 나는 ‘누구지?’라고 생각 했다.")
print('"안녕?"이라는 그 인사를 듣고 나는 \'누구지?\'라고 생각 했다.')

"안녕?"이라는 그 인사를 듣고 나는 ‘누구지?’라고 생각 했다.
"안녕?"이라는 그 인사를 듣고 나는 '누구지?'라고 생각 했다.

# 2. 문자열 연산

## 2.1 덧셈

In [42]:
a = 'Hello' + 'Hello'
print(a)
a

HelloHello

'HelloHello'

## 2.2 곱셈

In [44]:
a = 'Hello'
print(a * 3)
a * 3

HelloHelloHello

'HelloHelloHello'

In [45]:
b = 'Hello' * 10
print(b)
b

HelloHelloHelloHelloHelloHelloHelloHelloHelloHello

'HelloHelloHelloHelloHelloHelloHelloHelloHelloHello'

In [49]:
a = '안녕하세요?'
b = '저는 전혜란입니다.'

print(a, b)
print(a, b, sep='')
print(a, b, sep='\n')

안녕하세요? 저는 전혜란입니다.
안녕하세요?저는 전혜란입니다.
안녕하세요?
저는 전혜란입니다.

In [52]:
c = ''
print(c)
print(type(c))
c

<class 'str'>

''

In [ ]:
d = '문자열을 더해보았습니다.'

print('1.', c, d) # sep=' ' 디폴트 때문에 출력시 공백이 들어간다. - 두개의 객체를 받은것
print('2.', c, d, sep='') # 디폴트값을 수정하여서 출력
print('3.', c + d) # c 와 d 문자열을 합해서 출력한것
print(c + d) # c 와 d 문자열을 합해서 출력한것 - 하나의 문자열만 출력한것이기때문에 sep=' ' 이 적용되지 않는것 - 한개의 객체만 받은것
print('4. ',c + d, sep='') # c 와 d 문자열을 합해서 출력한것

e = c + d
print(e)

1.  문자열을 더해보았습니다.
2.문자열을 더해보았습니다.
3. 문자열을 더해보았습니다.
문자열을 더해보았습니다.
4. 문자열을 더해보았습니다.
문자열을 더해보았습니다.

# 실습 02

[문제] 다음의 글에서 '너무'를 총 100회 출력되도록 하세요.
- 출력 결과: 
    너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무
    너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무
    너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무
    너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무
    파이썬 공부가 즐겁습니다.

In [ ]:
x = '너무' * 100
y = '파이썬 공부가 즐겁습니다.'
print(x, y) # sep=' ' 기본값이 적용됨

너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무 파이썬 공부가 즐겁습니다.

In [69]:
answer = '너무' * 100 + ' 파이썬 공부가 즐겁습니다.' # 하나의 변수, 하나의 문자열로 만든것

print(answer)

너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무 파이썬 공부가 즐겁습니다.

In [70]:
len(answer)

215

In [ ]:
a = '너무'
print(a*100 + '파이썬!') # 1객의 객체 입력 -...너무너무파이썬!
print(a*100, '파이썬!') # 2객의 객체 입력 -...너무너무 파이썬!

너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무파이썬!
너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무 파이썬!

# 3. 문자열 함수

## 3.1 len()

In [68]:
word = 'apple banana'
len(word)
# len('apple banana')

12

In [ ]:
len(word) # word 의 외부에서 len 이 선언된 것 - 외부함수 사용법
word.count('a') # word 라는 클래스안의 count(str()의 내부함수) 함수를 사용 - 내부함수 사용법

4

## 3.2 replace()

In [73]:
word = 'apple banana'
print(word.replace('a', '8'))

8pple b8n8n8

In [74]:
word = 'apple banana'
new_word = word.replace('a', '2')

print(new_word)

2pple b2n2n2

In [78]:
new_word2 = new_word.replace('n', '5')
print(new_word2)

2pple b25252

In [80]:
new_word3 = new_word2.replace(' ', '')
print(new_word3)

2ppleb25252

In [92]:
x = input('x의 값: ')
# y = input('y의 값: ')
# z = input('z의 값: ')

# test_word = 'x = a, y = b, z = c'
test_word = 'x = a'
test_word2 = test_word.replace('a', x)
print(test_word2)
# test_word.replace('b', y)
# print(test_word)
# test_word.replace('c', z)
# print(test_word)

# print(test_word)

print(test_word.replace('a', x)) # 결과값만 보여주는것 test_word 에 반영이 된것은 아님
print(test_word) # 그래서 결국에 test_word 가 변형되지는 않았음

x = 100
x = 100
x = a

## 3.3 upper(), lower()

In [101]:
word = 'apple banana'
print(word.upper())

APPLE BANANA

In [ ]:
print(word) # 실행한 순서에 따라 초기화값이 달라진다.

apple banana

In [103]:
word = word.upper()
print(word)

APPLE BANANA

In [105]:
word = 'APPLE BANANA'
print(word.lower())

apple banana

In [110]:
word

'apple banana'

In [109]:
word = word.lower()
print(word)

apple banana

# 4. 문자열 인덱싱

In [115]:
word = 'python'
# word[0]
word_p = word[0]
print(word_p)

p

In [118]:
print(word[5])
print(word[-1])

n
n

In [ ]:
word = 'python'
len(word)
# word[len - 1]

6

In [128]:
word = 'python'

word[1] = 'Y'

TypeError: 'str' object does not support item assignment

In [ ]:
word = "python"
# 1번째 인덱스를 'Y'로 수정
# word[:1]는 첫 번째 문자만 가져오고, 'Y'를 삽입하며, word[2:]는 두 번째 문자 이후의 나머지 부분을 그대로 가져옵니다.
word = word[:1] + 'Y' + word[2:]
print(word)  # 출력: pYthon

pYthon

In [ ]:
word = 'python'
word2 = word

print(type(word))
print(type(word2))

<class 'str'>
<class 'str'>

# 실습 03
[문제] 
- sentence 라는 명칭의 변수를 선언하고 '중요한 것은 꺾이지 않는 마음'의 문자열 리터럴을 할당하세요
- 그리고 인덱싱을 활용하여 '꺾'을 출력해보세요.

In [2]:
sentence = '중요한 것은 꺾이지 않는 마음'
print(len(sentence))
print(sentence[7])
sentence_중꺾마 = sentence[0] + sentence[7] + sentence[-2]
print(sentence_중꺾마)

16
꺾
중꺾마

In [ ]:
# 내장함수 활용
sentence.index('꺾') # 해당문자의 인덱스 번호를 알려줌

7

In [ ]:
word = 'apple'
word.index('p') # 중복된 문자일시 가장 처음의 인덱스 번호를 반환

1

# 5. 문자열 슬라이싱

In [8]:
test = 'abc'
# 0, 1, 2 까지 인덱스 번호가 있음
# test[3] #IndexError: string index out of range
test[0:42] # 범위를 초과시에도 전체를 추가

'abc'

In [9]:
sentence = '중요한 것은 꺾이지 않는 마음'
sentence[42::-1]

'음마 는않 지이꺾 은것 한요중'

# 실습 04
[문제1]
- sentence라는 명칭의 변수를 선언하고 ‘중요한 것은 꺾이지 않는 마음’의 문자열 리터럴을 할당하세요.
- 그리고 슬라이싱을 활용하여 '**꺾이지 않는 마음**'을 출력해보세요.

In [ ]:
sentence = '중요한 것은 꺾이지 않는 마음'
꺾_index = sentence.index('꺾')
sentence_len = len(sentence)
# slicing = sentence[꺾_index:sentence_len:] # 방법 1
slicing = sentence[꺾_index::] # 방법 2
print(slicing)

꺾이지 않는 마음

In [17]:
sentence = '중요한 것은 꺾이지 않는 마음'
sentence[7:]

'꺾이지 않는 마음'

[문제2]
- sentence라는 명칭의 변수를 선언하고 ‘중요한 것은 꺾이지 않는 마음’의 문자열 리터럴을 할당하세요.
- 그리고 슬라이싱을 활용하여 '**한요중**'을 출력해보세요.

In [15]:
sentence = '중요한 것은 꺾이지 않는 마음'
한_index = sentence.index('한')
slicing = sentence[한_index::-1]
print(slicing)

한요중

In [ ]:
sentence = '중요한 것은 꺾이지 않는 마음'
sentence[2::-1]
# sentence[2:-1:-1] = '' # 오류가 나는게 아니라 '' 이 나옴

''

# 6. 서식지정자

## 6.1 %s 포매팅

1. 기본 사용 법

In [ ]:
# "문자열 %s문자열"% "추가문자"
# '문자열 %s문자열'% '추가문자'


# %s 사용안함 - 서식지정자를 사용하지 않은 경우
name = 'tom'
print('I am ' + name + '!')

# %s 사용 - 서식지정자를 사용한 경우
name2 = 'tom'
print('I am %s!'% name2)

# %s 사용 - 서식지정자를 사용한 경우 : 날짜를 매번 바꿔서 출려해야 할때 주로 사용된다
print('I am %s!'% 'sam')
print('I am %s!'%'sam')
print('I am %s!' %'sam')

I am tom!
I am tom!
I am sam!
I am sam!
I am sam!

In [23]:
name = input()

print('I am %s'%name)

I am hyeran

2. 응용1: 공백 추가

In [27]:
# %(정수)s: 공백 추가
# 양의 정수: 왼쪽으로 숫자만큼 공백 추가
# 음의 정수: 오른쪽으로 숫자만큼 공백 추가

name = 'tom'

# 왼쪽 공백추가
print('I am %10s' %name)

# 오른쪽 공백추가
print('I am %-10s!' %name)

I am        tom
I am tom       !

3. 여러개의 문자 추가

In [ ]:
# '문자열 %s 문자열 %s 문자열' %(대체문자1, 대체문자2)
# 다중 대체는 시퀀스 형태를 띄어야함
# 순서대로 넣어야 함

s1 = 'an apple'
s2 = 'a banana'

# print('I like an apple and a banana')
print('I like %s and %s' %(s1, s2))

I like an apple and a banana

## 6.2 %d 포매팅

In [ ]:
# 정수 포매팅
# '문자열 %d 문자열' %대체정수

# num = 4
num = int(input())
print('Number %d is my favorite number' %num)

Number 99 is my favorite number

In [32]:
test = 'Number %d is my fav number'%num
print(type(test))

<class 'str'>

In [33]:
num1 = 3
num2 = 100
num3 = 999

print('These are my fav numbers: %d, %d, %d' %(num1, num2, num3))

These are my fav numbers: 3, 100, 999

## 6.3 %f 포매팅

1. 기본 사용 방식

In [36]:
# 실수 포매팅
# '문자열 %f 문자열' %대체실수

# num = 3.14
num = float(input())
print('Number %f is my favorite number' %num) # float 은 기본적으로 6자리이므로 채워서 나옴

Number 3.140000 is my favorite number

2. 응용1: 지정한 소수점 이하 자리까지 출력

In [ ]:
num = 3.14

print('Number %2f is my favorite number' %num) # $2f 시 소수점 두자리 수만큼 나옴

3. 응용2: 너비만큼 0으로 채우기

In [37]:
# %(0)(채울너비수).(소수점이하출력수)f: 남는 너비 만큼 0으로 채우기

num = 3.23

print('with %012f: %012.2f' %(num, num)) # 0으로 총열두자리를 패우겠다. / 소수점이하 두번째자리까지채우고 0으로 총 12자리를 채우겠다.

with 00003.230000: 000000003.23

# 7. format 함수

1. 기본 사용 방식

In [48]:
# "문자열 {변1의 인덱스}, {변2의 인덱스} 문자열".format(변1, 변2)
# str 클래스의 내부함수인 format 을 사용하겠다는 것


print('I like {0} and {1}'.format('an apple', 'a banana'))
print('I like {1} and {0}'.format('an apple', 'a banana'))
print('I like {0} and {1}'.format('a banana', 'an apple'))
print('I like {} and {}'.format('a banana', 'an apple')) # 순서대로 들어감

# print('I like {-1} and {-2}'.format('a banana', 'an apple')) # KeyError: '-1'

I like an apple and a banana
I like a banana and an apple
I like a banana and an apple
I like a banana and an apple

2. 변수 활용

In [50]:
fruit1, fruit2 = 'an apple', 'a banana'
print('I like {0} and {1}'.format(fruit1, fruit2))
print('I like {1} and {0}'.format(fruit1, fruit2))
print('I like {0} and {1}'.format(fruit2, fruit1))
print('I like {} and {}'.format(fruit1, fruit2))

# print('I like {1} and {2}'.format(fruit1, fruit2)) # 없는 인덱스일경우 오류남
# print('I like {-1} and {-2}'.format(fruit1, fruit2)) # KeyError: '-1'

I like an apple and a banana
I like a banana and an apple
I like a banana and an apple
I like an apple and a banana

In [52]:
test1 = 'Number {0}, {1}, {2}'.format(4, 5, 6)
test2 = 'Number {0}, {0}, {1}'.format(4, 5, 6)
test3 = 'Number {2}, {1}, {0}'.format(4, 5, 6)

print('test1: ', test1)
print('test2: ', test2)
print('test3: ', test3)

test1:  Number 4, 5, 6
test2:  Number 4, 4, 5
test3:  Number 6, 5, 4

# 8. f-string

In [55]:
# f"문자열{변수명}문자열"
# 문자열 가장 앞에 f

name = 'Hyeran'
age = 32
height = 165.5

print(f'My name is {name} and I\'m {age} years old')

My name is Hyeran and I'm 32 years old

In [57]:
num1 = 5
num2 = 2

# num1 + num2 = value

print(f'{num1} + {num2} - 1 = {num1 + num2 - 1}')

5 + 2 - 1 = 6

# 실습 05

## 05-1 

[문제] 문자를 입력 받아 공백을 모두 제거하고 출력하세요

[실행 결과] \
아무 문자나 입력해주세요 : 안녕하세요 반갑습니다. \
안녕하세요반갑습니다.

In [60]:
cus_input = input('아무 문자나 입력해주세요: ')
print(cus_input.replace(' ', ''))

안녕하세요반갑습니다.

## 05-2 

[문제] 이름과 점수 3개를 입력받아 아래와 같이 출력하세요


[실행 결과] \
이름을 입력해주세요: 홍길동 \
첫 번째 점수를 입력해주세요: 80 \
두 번째 점수를 입력해주세요: 70 \
세 번째 점수를 입력해주세요: 60 \
저의 이름은 홍길동이고 총점은 210 입니다.

In [ ]:
name_input = input('이름을 입력해주세요: ')
first_input = int(input('첫 번째 점수를 입력해주세요: '))
second_input = int(input('두 번째 점수를 입력해주세요: '))
third_input = int(input('세 번째 점수를 입력해주세요: '))

print(f'저의 이름은 {name_input}이고 총점은 {first_input + second_input + third_input} 입니다.')

저의 이름은 홍길동이고 총점은 210