# 리스트와 튜플

# 1. 리스트 (list)

## 1.1 리스트 생성하기

In [3]:
a = [1, 2, 3, 4, 5]
# len(a) == 5
print(a) 
print(type(a))

[1, 2, 3, 4, 5]
<class 'list'>

In [4]:
b = ['banana', 5, 3.14, False, [1,3], ('a', 'b')]
print(b)
print(type(b))

['banana', 5, 3.14, False, [1, 3], ('a', 'b')]
<class 'list'>

In [5]:
c = []
print(c)
c

[]

[]

In [8]:
d = list()
d_2 = []

print(d)
print(d_2)
print(id(d))
print(id(d_2))

[]
[]
4367951232
4367957440

In [ ]:
e = list(1) #TypeError: 'int' object is not iterable(반복가능한) 순환이 되는 객체가 아니다.
# list 안에 들어갈수 있는 객체는 시퀀스 객체이다
print(e)

TypeError: 'int' object is not iterable

In [11]:
e = list((1,)) # 리터러블 가능한 객체로 변환해야 함그래서 튜플형대로 변환함
print(e)

e_1 = list((1, 2, 3))
print(e_1)

[1]
[1, 2, 3]

## 1.2 리스트 인덱스 접근

In [ ]:
fruit = ['apple', 'banana', 'cherry']

print(fruit)
print(fruit[0])
print(fruit[1])
print(fruit[2])
# print(fruit[3]) #IndexError: list index out of range

['apple', 'banana', 'cherry']
apple
banana
cherry

IndexError: list index out of range

In [16]:
b = ['banana', 5, 3.14, False, [1, 3], ('a', 'b')]

print(type(b[0]))
print(type(b[1]))
print(type(b[2]))
print(type(b[3]))
print(type(b[4]))
print(type(b[5]))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'tuple'>

In [17]:
print(b[4])
print(type(b[4]))

[1, 3]
<class 'list'>

In [23]:
b_list = b[4]

print(b_list)
print(type(b_list))

print(b_list[1])

[1, 3]
<class 'list'>
3

In [33]:
b[4][1] # 리스트 안의 리스트를 다시 인덱싱할 수 있다.

test = b[4]

print(id(b[4][1]))
print(id(test[1]))

4314235184
4314235184

## 1.3 슬라이싱

In [32]:
fruit = ['apple', 'banana', 'cherry']

print(fruit[0:3])
print(fruit[0:4])
print(fruit[0:])
print(fruit[:3])
print(fruit[:4])
print(fruit[0:4:2])
print(fruit[::-1])

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'cherry']
['cherry', 'banana', 'apple']

In [ ]:
fruit = ['apple', 'banana', 'cherry']

In [35]:
print(fruit[0:3]) # 세개의 요소를 리스트로 묶어서 다시 반환해주기 때문에 타입은 리스트이다.

test = fruit[0:3]
print(test)
print(type(test))

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
<class 'list'>

In [ ]:
print(id(fruit))
print(id(test)) # 범위내의 값을 가지고 와 새롭게 객체를 만들기 때문에 다른 메모리 주소를 가지고 있다.

4440151680
4440120000

In [39]:
# fruit[2:]
# fruit[:2]
fruit[:]

['apple', 'banana', 'cherry']

In [40]:
fruit[:-1]

['apple', 'banana']

In [41]:
fruit[-3:]

['apple', 'banana', 'cherry']

## 1.4 다양한 인덱스 접근

In [52]:
a = [1, 2, 3, 4, 5, 6, 7]

In [45]:
print(a)
print(a[2:8:2])

[1, 2, 3, 4, 5, 6, 7]
[3, 5, 7]

In [53]:
# 요소할당
a = [1, 2, 3, 4, 5, 6, 7]
print(id(a))
a[1:4] = ['a', 'b', 'c', 'd'] # 새로운 객체를 만든다고 생각하면 됨. 메모리 주소가 달라짐
print(a)
print(id(a))

4367282816
[1, 'a', 'b', 'c', 'd', 5, 6, 7]
4367282816

In [54]:
# 삭제
del a[1:4]
print(a)

[1, 'd', 5, 6, 7]

In [ ]:
a = [1,2,3,4,5,6,7]
print(a)
print(len(a))
print(id(a))

print('-'*20)

a[1:4] = ['a']
print(a)
print(len(a))
print(id(a))

# 리스트는 가변객체이므로 기존주소에서 요소들만 변경이 된다.

[1, 2, 3, 4, 5, 6, 7]
7
4440413824
--------------------
[1, 'a', 5, 6, 7]
5
4440413824

In [ ]:
a = '1234567'
print(a)
print(len(a))
print(id(a))

print('-'*20)

a[1:4] = 'a' # TypeError: 'str' object does not support item assignment
print(a)
print(len(a))
print(id(a))

1234567
7
4439889264
--------------------

TypeError: 'str' object does not support item assignment

## 1.5 리스트 다양한 기능들 1

In [59]:
a = [1, 2, 3]

In [63]:
# in : 특정값이 있는지 확인하기 - 결과값이 항상 boolean 으로 나옴 

print(1 in a)
print(9 in a)

print('-'*20)

print(1 not in a) # 1이 a에 없는가?
print(9 not in a) # 9가 a에 없는가?

True
False
--------------------
False
True

In [64]:
print(len(a))

3

In [ ]:
# 연결
b = [4,5,6]
c = ['a', 3.14, {'a':1}] # 꼭 같은 자료형들만 더할수 있는건 아니다.

print(a + b + c)

[1, 2, 3, 4, 5, 6, 'a', 3.14, {'a': 1}]

In [68]:
# 곱 으로 반복

print(a * 3)
print(b * 5)
print(c * 7)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6]
['a', 3.14, {'a': 1}, 'a', 3.14, {'a': 1}, 'a', 3.14, {'a': 1}, 'a', 3.14, {'a': 1}, 'a', 3.14, {'a': 1}, 'a', 3.14, {'a': 1}, 'a', 3.14, {'a': 1}]

## 1.6 리스트의 다양한 기능들 2 - 요소 추가

In [86]:
a = [1, 2, 3]
b = [1, 2, 3]

1. append()

In [74]:
# .append(추가하고자 하는 값)
# a.append(4) -> [1,2,3,4]
# a.append([5, 6]) -> [1,2,3,4,[5,6]]
# a.append((6,7)) -> [1,2,3,4,[5,6],(6,7)]

a.append(4)
print(a)

[1, 2, 3, 4]

In [ ]:
print(a)
a.append([5, 6]) # 리스트 한개가 하나의 요소
print(a)
print(len(a))

[1, 2, 3, 4, [5, 6]]
[1, 2, 3, 4, [5, 6], [5, 6]]
6

In [ ]:
a.append((7,8,9)) # 튜틀한개가 하나의 요소
print(a)
print(len(a))

[1, 2, 3, 4, [5, 6], [5, 6], (7, 8, 9)]
7

2. extend()

In [80]:
# .extend(리터러블객체만) - 순환되는 객체가 아니면 넣을수 없다.

# b.extend(4) : TypeError: 'int' object is not iterable
b.extend([4,5]) # unpacking 되어 각각 추가됨
print(b)

[1, 2, 3, 4, 5]

In [ ]:
a.append([4,5])
b.extend([4,5]) # unpacking 되어 각각 추가됨

print(a)
print(b)

[1, 2, 3, [4, 5]]
[1, 2, 3, 4, 5]

In [ ]:
a.append((6,7))
b.extend((6,7)) # unpacking 되어 각각 추가됨

print(a)
print(b)
print(len(a))
print(len(b))

[1, 2, 3, [4, 5], (6, 7)]
[1, 2, 3, 4, 5, 6, 7]
5
7

3. insert()

In [90]:
# .insert(인덱스, 추가하고자 하는 값)  이전 인덱스의 값이 뒤로 밀려남
a = [1,2,3]

In [91]:
print('before: ', a[1])

a.insert(1, 100)
print('after: ', a[1])

print('-'*20)
print(a)
print(len(a))

before:  2
after:  100
--------------------
[1, 100, 2, 3]
4

In [92]:
print('before: ', a[3])

a.insert(3, 200)
print('after: ', a[3])

print('-'*20)
print(a)
print(len(a))

before:  3
after:  200
--------------------
[1, 100, 2, 200, 3]
5

## 1.7 리스트의 다양한 기능들 3 - 요소 삭제

1. pop()

In [96]:
# .pup(인덱스): 해당요소 삭제 후 삭제된 요소반환
a = [1,2,3,4,5]

In [97]:
print(id(a))

print('-'*20)

print(a.pop(0))
print(id(a)) # 삭제가 된후의 메모리주소가 동일
print(a)

4440040768
--------------------
1
4440040768
[2, 3, 4, 5]

In [ ]:
print(a.pop()) # 공백시 가장 마지막의 요소가 삭제됨
print(id(a)) 
print(a)
print(len(a))

5
4440040768
[2, 3, 4]
3

2. remove()

In [ ]:
# .remove(값): 해당 값을 찾아 리스트에서 삭제
# b = [1,2,3,4,5]
b = [2,4]

b.remove(2) # 요소변경시 주의해서 사용해야 함

In [101]:
print(b)

[4]

In [102]:
b.remove(2)

ValueError: list.remove(x): x not in list

## 1.8 리스트의 다양한 기능들 4
리스트 내부함수들
리스트는 가변으로 본 데이터가 변동된다.

In [114]:
a = [1,2,3,3,4,5]

1. index()

In [115]:
# .index(값): 특정값 인덱스
print(a.index(2))
print(a.index(3)) # 중복된 값의 경우 제일 첫번째 값을 출력

1
2

2. count()

In [ ]:
# .count(값): 특정값 개수
print(a.count(3))

2

3. reverse()

In [117]:
# .reverse(): 역순 정렬
a.reverse()
print(a)

[1, 2, 3, 3, 4, 5]

In [ ]:
print(a.reverse()) # reverse() 의 경우는 반환값, 즉 reverse 함수에는 return 값이 없다.
# None : 아무값도 반환하지 않는다. 내부적으로 실행만 될뿐

None

In [ ]:
word = a.reverse() # 변경이 내부적으로 실행되기 때문에 조심해야한다. 그래서 주로 한번사용후 주석처리한다.
word # 반환값없음

In [120]:
b = [3,5,1,6]

4. sort()

In [121]:
# .sort(): 정렬(디폴트는 오름차순)
b.sort() # 반환값없음
print(b)

[1, 3, 5, 6]

In [122]:
# .sort(reverse=True): 내림차순 정렬
b.sort(reverse=True)
print(b)
b

[6, 5, 3, 1]

[6, 5, 3, 1]

In [123]:
# .sort(reverse=False): 오름차순 정렬
b.sort(reverse=False)
print(b)
b

[1, 3, 5, 6]

[1, 3, 5, 6]

## 1.9 리스트 할당과 복사

### 1.9.1 할당

In [ ]:
a = [1,2,3,4,5] # a를 생성하고 [] 리스트를 할당했다.
b = a # a에 저장되어 있는 값을 b에도 할당한다. 즉 같은 메모리 주소를 참조한다.

print(id(a))
print(id(b))

print(a is b)

# ㄱ 이라는 메모리공간을 a, b 가 포인팅하고 있는것

4441621888
4441621888
True

In [128]:
# 값 변경해보기
a[0] = 100
print('a: ', a)
print('b: ', b)
# a, b 가 동일

print(id(a[0]) == id(b[0]))

print(id(a[0]))
print(id(b[0]))
# 가리키는 값도 동일

a:  [100, 2, 3, 4, 5]
b:  [100, 2, 3, 4, 5]
True
4314238288
4314238288

### 1.9.2 얕은 복사

In [ ]:
a = [1,2,3,4,5]
b = a.copy() # a를 복제할것. 새로운 메모리주소에 담을것

print(a is b) # 값이 같지 않고

print(id(a))
print(id(b)) # 메모리 주소 또한 다르다.

False
4441105856
4367971264

In [ ]:
print(id(a[0]) == id(b[0]))

# a, b 가 서로 영향을 주지않음
# 그러나 내부의 값은 동일한 주소를 참조하고 있다. - 얉은 복사의 특성이며 가리키는 값이 1 이므로 동일하다.
# 리스트라는 객체만 새로운 주소를 갖는것

'''
복사는 메모리 주소가 다르다!
list() 클래스만 메모리주소가 달라지는 것 - 1차원의 메모리 주소만 달라진다.
'''

True

In [ ]:
a = [100, 200, 300, 400, 500]
b = a.copy() # 새로운 메모리주소를 갖는다.
# 얕은 복제의 경우 1차원까지만 복제를 하기때문에 1차원 메모리주소는 다르고 2차원부터는 메모리값이 동일하다.

print(a)
print(b)
print('-'*20)
print(type(a)) # list 객체, 클래스
print(type(b)) # list 객체, 클래스
print('-'*20)
print(id(a)) # list 객체의 id
print(id(b)) # list 객체의 id
print('-'*20)
print(id(a[0]), id(a[1]), id(a[2]), id(a[3]), id(a[4])) # 1 (int 객체)
print(id(b[0]), id(b[1]), id(b[2]), id(b[3]), id(b[4])) # 1 (int 객체)
print('-'*20)
print(type(a[0]))
print(type(b[0]))

[100, 200, 300, 400, 500]
[100, 200, 300, 400, 500]
--------------------
<class 'list'>
<class 'list'>
--------------------
4443245184
4443249664
--------------------
4314238288 4314241488 4443259664 4443259984 4443258960
4314238288 4314241488 4443259664 4443259984 4443258960
--------------------
<class 'int'>
<class 'int'>

In [135]:
a = [ [ [1,2], [3,4],[4,5] ], [ [6,7],[8,9],[10,11] ] ]
print(a[0])
print(a[0][1])
print(a[0][1][1])

[[1, 2], [3, 4], [4, 5]]
[3, 4]
4

In [ ]:
# 2차원
a = [[1,2], [3,4], [5,6]]
print(len(a))

3

In [137]:
a[1][0]

3

In [138]:
a[2][1]

6

In [143]:
# 3차원
a = [[[1,2], [3,4], [5,6]], 
     [[7,8], [9,10], [11,12]]]
print(len(a))

2

In [145]:
a[1][0][0]

7

In [146]:
a[0][1][0]

3

In [147]:
a[1][2][0]

11

In [148]:
a = [[1,2], [3,4], [5,6]]
b = a.copy()

print(a)
print(b)
print(id(a))
print(id(b))

print('-'*20)
b[0] = [100, 200]

print(a)
print(b)
print(id(a))
print(id(b))

print('-'*20)
b[2][1] = 999

print(a)
print(b)
print(id(a))
print(id(b))

[[1, 2], [3, 4], [5, 6]]
[[1, 2], [3, 4], [5, 6]]
4444262720
4444262208
--------------------
[[1, 2], [3, 4], [5, 6]]
[[100, 200], [3, 4], [5, 6]]
4444262720
4444262208
--------------------
[[1, 2], [3, 4], [5, 999]]
[[100, 200], [3, 4], [5, 999]]
4444262720
4444262208

### 1.9.3 깊은 복사

- 1차원

- 2차원

## 1.10 다차원 리스트

- 2차원 리스트

- 3차원 리스트

- 다차원 리스트 복사: .deepcopy()

In [ ]:
import copy

a = []

# 2. 튜플

## 2.1 튜플 생성하기

## 2.2 튜플의 다양한 기능들 1

1. 요소 개수 확인

2. 인덱싱 및 슬라이싱

## 2.3 튜플의 다양한 기능들 2

## 2.3 불변의 객체 튜플

### 2.3.1 요소 변경 및 삭제해보기

### 2.3.2 요소 삭제 및 변경 방법

# 3. 동시할당 (Unpacking)

# 4. 입력 함수 input()

## 4.1 입력함수 실습 1

## 4.2 입력함수 실습 2

## 4.3 입력함수 실습 3
사용자가 입력한 값이 1.1일 때 int() 내장 함수를 활용하여 정수로 변환하려면 에러 발생

실수를 입력받았을 때 실수를 정수로 변환하는 방법

# 5. split()

# 6. map() 내장함수

# 실습 01

# 실습 02

[문제] 사용자의 이름을 물어보고 이어서 2개의 정수를 받아서 덧셈을 한 후 결과를 출력하는 프로그램을 작성해보세요.
- 실행
    이름을 입력하시오: 엔코아 \
    엔코아씨, 안녕하세요? \
    파이썬에 오신 것을 환영합니다. \
    첫 번째 정수를 입력하세요: 300 \
    두 번째 정수를 입력하세요: 400 \
    300과 400의 합은 700 입니다.

# 실습 03
[문제] \
사용자로부터 “hh:mm:ss” 형태의 시간 값을 입력 받습니다. \
예를 들면 12시 33분 23초일 때 “12:22:23”과 같이 입력 받습니다. \
이 때 결과가 아래와 같이 나오도록 구현해보세요.

- hh:mm:ss의 형태로 시간을 입력해주세요: 12:33:23
- 시: 12
- 분: 33
- 초: 23

# 실습 04
[문제]
사용자로부터 값을 입력 받습니다. \
국어, 영어, 수학, 과학 점수를 한 번에 입력 받습니다. \
이를 kor, eng, mat, sci라는 변수에 각각 저장하고, 사칙 연산을 활용하여 평균 점수를 산출해보세요 \

[실행 결과]
- 국어, 영어, 수학, 과학 점수를 입력해주세요: 98,100,96,100
- 평균 점수는 98.5입니다.