# 가장 위
탐색기의 개요를 통해 MarkDown 으로 작성된 섹션별로 이동이 쉽다.

In [8]:
print('위일경우 a')

위일경우 a

In [7]:
print('Hello, World')
print(2)
print(False)
print({1:2})

Hello, World
2
False
{1: 2}

# 중간

In [10]:
print('아래일경우 b')

아래일경우 b

In [ ]:
print(6/2) #주석달기-명확하고정확하게

3.0

MarkDown 작성법
# 제목1
## 제목2
### 제목3
설명 **구간**입니다. \
줄바꿈입니다. \
하핫

# 동시할당

In [5]:
x, y, z = "문자열"

print(x, y, z, sep='\n') # print 시 sep=' ' 이 기본값

문
자
열

In [2]:
x, y, z = "문자열없"

print(x, y, z)

ValueError: too many values to unpack (expected 3)

In [12]:
a = 10
b = a
c = 10

x = 1000
y = x
z = 1000

print(a)
print(b)
print(id(a))
print(id(b))
print('----------------------')
print(c)
print(id(c))
print('----------------------')
print(x)
print(y)
print(id(x))
print(id(y))
print('----------------------')
print(z)
print(id(z))

10
10
4299244048
4299244048
----------------------
10
4299244048
----------------------
1000
1000
4465025776
4465025776
----------------------
1000
4465027024

클래스
변수에 클래스를 할당시 클래스를 활용한 새로운 객체가 생긴 것 -> 클래스를 만들면 재활용이 가능하다.
    class Dog(arg1, arg2)

    merry = Dog('a', 'b')
    jane = Dog('a', 'b') 
    -> merry 와 jane 은 다른 객체다. 다른 메모리 주소를 가지게 되는것

In [13]:
a = (1,)
print(id(a))
print(id((1,))) #튜플은 클래스로 기준을 두고 새로운 객체를 만드는것

4465407024
4464118608

In [15]:
b = 1
print(id(b))
print(id(1)) #-5 ~ 256 는 이미 저장(cashing)되어 있어 새로 객체를 생성해도 같은 메모리 주소를 참조하게 됨.

print('-------------')

c = 257
print(id(c))
print(id(257)) #-5 ~ 256 를 벗어낫기 때문에 다른 메모리 주소를 가짐

4299243760
4299243760
-------------
4465022256
4465017808

In [25]:
print('Hello, \'This is my world!\'')

print('Hello, \\nThis is my world')

print('Hello, \nThis is my world')

print('------------------')
a = '''\
one line
two line
'''
print(a)

print('------------------')
b = '''
one line
two line
'''
print(b)

Hello, 'This is my world!'
Hello, \nThis is my world
Hello,
This is my world
------------------
one line
two line

------------------

one line
two line

In [ ]:
'test \
test \
test'

'test test test'

test
test
test

test \
test \
test

# len()

In [4]:
# len()
word = 'This is my world'

print(len(word))
print(len('This is my world'))

16
16

# replace()

In [ ]:
# replace
word = 'This is my world' # 클래스로 만든 하나의 객체

print(word.replace(' ', '_')) # 바꾼것을 출력만 한 상태

This_is_my_world

In [9]:
print(word) # 그래서 실질적인 메모리의 값은 바뀌지 않음 - str 은 불변

This is my world

In [ ]:
word2 = word.replace(' ', '3') # 새로운 변수에 할당해 새로운 객체가 생겨 해당값에 대한 메모리 주소가 생김

print(word2)
print(word)
print(id(word))
print(id(word2))

This3is3my3world
This is my world
4364236112
4364422400

# upper()

In [14]:
word = 'Hello, This Is My World'

print(word.upper())

print('word : ', word)

word2 = word.upper()

print('word2 : ', word2)

HELLO, THIS IS MY WORLD
word :  Hello, This Is My World
word2 :  HELLO, THIS IS MY WORLD

# lower()

In [ ]:
word = 'Hello, This Is My World'

print(word.lower())

print('word : ', word)

word2 = word.lower()

print('word2 : ', word2)

hello, this is my world
word :  Hello, This Is My World
word2 :  hello, this is my world