In [1]:
! pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/envs/myVenv/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /opt/anaconda3/envs/myVenv/lib/python3.10/site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/myVenv/lib/python3.10/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/myVenv/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/myVenv/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/myVenv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# pandas

# 1. Series

## 1.1 Series 생성하기

- 덱스 파라미터 전달 없이 시리즈 생성해보기

- Series 생성 연습: 10, 20, 30, 40, 50, 60, 70,80, 90 값을 갖는 Series 생성해보기

- index 속성으로 index에 접근

- values 속성으로 value에 접근

- [연습 문제] l = pd.Series(list(range(10, 100, 10))) 에서 50보다 큰 값의 개수 구하기

- name속성으로 Series에 이름 붙이기

- Series 객체를 만들 때 data에 dict 사용 가능

- [연습 문제] 사회 점수가 다음과 같을 때 이름을 index로 하고 점수를 values로 하는 Series 만들기 
\
\
철수: 88 \
영희: 95 \
길동: 100 \
몽룡: 67

## 1.2 Index를 속성 처럼 활용하기 

- label 값이 공백 없는 문자열인 경우에는 index label이 속성인것처럼 마침표(.)를 활용하여 해당 index 값에 접근 가능

## 1.3 Series 특징

- index를 마치 딕셔너리에 key처럼 사용할 수 있음
- ex)
    - in연산 가능
    - items()메서드를 통해 for문에서 각 요소의 key와 value에 접근 가능

[연습 문제] 도시의 인구가 300만이 넘는 곳을 찾아 다음과 같이 출력해보세요
- for문과 items()메서드를 활용하세요
\
\
서울의 인구는 300만이 넘습니다. \
부산의 인구는 300만이 넘습니다.

## 1.4 Series 연산하기

## 1.5 인덱싱

- 시퀀스 객체 인덱싱 방식 사용 가능
- label을 이용한 인덱싱 가능

## 1.6 slicing

- slicing으로도 부분적인 Series 반환
- label을 이용한 슬라이싱을 하는 경우, 콜론 뒤의 값도 포함되므로 주의하기

## 1.7 index 기반 연산

- 인덱스가 같은 데이터에 대해서만 연산

## 1.8 값이 NaN인지 확인 하기 
- 값이 NaN이면 True, NaN이 아니면 False인 bool 타입의 Series를 구하려면 isnull() 메서드 사용

- NaN이 아니면 True, NaN이면 False 값을 갖는 bool 타입의 Series를 구하려면 notnull()메서드 사용

- notnull() 메서드로 구한 True/False 값을 갖는 시리즈를 활용하여, NaN인 값을 배제한 Series 객체를 인덱싱하여 만들 수 있음

- NaN 값인 것을 배제하고 2010년 대비 2015년 인구 증가율(%) 구하기

[연습 문제] 2010년 대비 2015년 인구 증가를 구하세요 
- NaN 값인 것은 배제하기 
- 인구 수 증가가 가장 많은 도시의 이름과 증가한 인구수를 Series 객체로 출력하기

## 1.9 데이터 추가, 갱신, 삭제
- 없는 인덱스에 값을 할당하면 Series에 데이터가 추가됨

- 데이터 삭제할 때도 del 명령어 사용

# 2. DataFrame

## 2.1 DataFrame 생성

## 2.2 values, columns, index에 접근

## 2.3 DF에 이름 붙이기

## 2.4 실습 01

[문제] 아래의 조건을 만족하는 DatFrame을 생성 해보세요
- column의 개수와 row의 개수가 각각 4개 이상이어야 합니다.
- column에는 정수, 문자열, 실수 자료형 데이터 각각 1개 이상씩 포함되어 있어야 합니다.

## 2.5 전치 (Transpose)
- 전치 뿐만 아니라 NumPy 2차원 배열이 갖는 대부분의 속성이나 메서드 지원

## 2.6 column 추가, 갱신, 삭제
- DF는 Column을 Series의 딕셔너리로 볼 수 있음
- Column 단위로 데이터를 갱신하거나 추가, 삭제할 수 있음

1. 갱신 (column 한 개 값 업데이트)

2. column 추가

3. column 삭제

## 2.7 column 인덱싱 

- DataFrame을 인덱싱을 할 때도 column label을 키(key)로 생각하여 인덱싱을 할 수 있음
- index로 label 값을 하나만 넣으면 Series 객체가 반환됨 (column 하나는 시리즈임)

- label의 배열 또는 리스트로 인덱싱 하면 DataFrame타입 반환

- column 한 개만 빼내더라도 df를 유지하고 싶으면, 요소가 하나인 리스트 자료형을 사용해서 인덱싱 하면 됨

- 정수형 column index를 갖는 경우 -> index값으로 정수 사용 가능

## 2.8 슬라이싱 (row indexing)

- row 단위로 인덱싱을 하고자 하면 항상 slicing을 해야 함 
- index의 값이 문자 label이면 label 슬라이싱도 가능

- row가 부산인 결과만 보고싶을 경우 
- 단, 한 줄이기 때문에 문자열로 슬라이싱할 경우 ['부산':'부산']으로 슬라이싱

## 2.9 개별 데이터 인덱싱

1. DataFrame에서 column 인덱싱으로 Series 뽑기 
2. Series에서 row 인덱싱으로 개별 데이터 뽑기  

즉, columns label -> row label 순으로 인덱싱

## 실습 02

다음 DataFrame을 활용하여 아래 문제를 해결해보세요.
- 모든 학생의 수학 점수를 Series로 나타낸다.
- 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.
- 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.
- 춘향의 점수를 DataFrame으로 나타낸다.
- 향단의 점수를 Series로 나타낸다.

1. 모든 학생의 수학 점수를 Series로 나타낸다.

2. 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.

3. 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.

4. 춘향의 점수를 DataFrame으로 나타낸다.

5. 향단의 점수를 Series로 나타낸다.