## DataFrame

In [1]:
import pandas as pd

# 1. 열 생성
col1 = [1,2] # list or numpy array
col2 = [3,4]

# 2. 열 이름 붙이기
d = {'col1': col1, 'col2': col2} # 딕셔너리의 키값으로 열 이름 붙이기


# 3. 딕셔너리로 DF 생성
df = pd.DataFrame(data=d) # 첫번째 인자로 딕셔러리를 보내면 데이터프레임 생성
df

   col1  col2
0     1     3
1     2     4

In [5]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2450616],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
} # 딕셔너리형식

index = [
    "서울",
    "부산",
    "인천",
    "대구"
] # 리스트형식

df = pd.DataFrame(data, index=index) # 열이름은 지정이 되었지만 행의 경우 정수가 인덱싱 된다
df

       2015     2010     2005     2000   지역  2010-2015 증가율
서울  9904312  9631482  9762546  9853972  수도권         0.0283
부산  3448737  3393191  3512547  3655437  경상권         0.0163
인천  2890451  2632035  2517680  2466338  수도권         0.0982
대구  2466052  2431774  2450616  2473990  경상권         0.0141

In [6]:
df.dtypes # 각각의 열들은 동일한 데이터 타입을 가지고 있어야 한다.

2015               int64
2010               int64
2005               int64
2000               int64
지역                object
2010-2015 증가율    float64
dtype: object

In [7]:
df.values # 값, 넘파이배열로 반환

array([[9904312, 9631482, 9762546, 9853972, '수도권', 0.0283],
       [3448737, 3393191, 3512547, 3655437, '경상권', 0.0163],
       [2890451, 2632035, 2517680, 2466338, '수도권', 0.0982],
       [2466052, 2431774, 2450616, 2473990, '경상권', 0.0141]], dtype=object)

In [8]:
df.columns # 인덱스라는 함수에 감싸져 객체가 반환

Index(['2015', '2010', '2005', '2000', '지역', '2010-2015 증가율'], dtype='object')

In [9]:
df.index # 인덱스라는 함수에 감싸져 객체가 반환

Index(['서울', '부산', '인천', '대구'], dtype='object')