In [1]:
! pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/envs/myVenv/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /opt/anaconda3/envs/myVenv/lib/python3.10/site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/myVenv/lib/python3.10/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/myVenv/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/myVenv/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/myVenv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# pandas

# 1. Series

## 1.1 Series 생성하기

In [3]:
import pandas as pd 

s = pd.Series([9_904_312, 3_448_737, 2_890_451, 2_466_052],
              index=['서울', '부산', '인천', '대구'])

s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

- 덱스 파라미터 전달 없이 시리즈 생성해보기

In [6]:
s = pd.Series(range(5))
s # 인덱스가 0부터 정수로 생성됨

0    0
1    1
2    2
3    3
4    4
dtype: int64

- Series 생성 연습: 10, 20, 30, 40, 50, 60, 70,80, 90 값을 갖는 Series 생성해보기

In [2]:
import pandas as pd
import numpy as np

l = list(range(10, 100, 10))
arr = np.arange(10, 100, 10)

s = pd.Series(l)
s2 = pd.Series(arr)
s

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

- index 속성으로 index에 접근

In [7]:
s = pd.Series([9_904_312, 3_448_737, 2_890_451, 2_466_052],
              index=['서울', '부산', '인천', '대구'])

s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

- values 속성으로 value에 접근

In [8]:
s.values

array([9904312, 3448737, 2890451, 2466052])

- [연습 문제] l = pd.Series(list(range(10, 100, 10))) 에서 50보다 큰 값의 개수 구하기

In [13]:
l = pd.Series(list(range(10, 100, 10)))

sum(l.values > 50)

np.int64(4)

- name속성으로 Series에 이름 붙이기

In [15]:
s = pd.Series([9_904_312, 3_448_737, 2_890_451, 2_466_052],
              index=['서울', '부산', '인천', '대구'])

s.name = '인구'
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [16]:
# index.name으로 인덱스에도 이름을 붙일 수 있음

s.index.name = '도시'
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

- Series 객체를 만들 때 data에 dict 사용 가능

In [21]:
d = {'a': 1,  'b':2, 'c':3} # key가 index로 사용 됨 
ser = pd.Series(data=d)
ser

a    1
b    2
c    3
dtype: int64

In [18]:
d = {'a': 1,  'b':2, 'c':3}
ser = pd.Series(data=d, index=['a', 'b', 'c']) # 인덱스를 따로 전달할 수도 있음 
ser

a    1
b    2
c    3
dtype: int64

In [20]:
d = {'a': 1,  'b':2, 'c':3}
ser = pd.Series(data=d, index=['x', 'y', 'z']) # 새로운 인덱스를 재할당 하게 되면 NaN이 뜸 (해당하는 값을 찾을 수 없다고 뜸)
ser

x   NaN
y   NaN
z   NaN
dtype: float64

- [연습 문제] 사회 점수가 다음과 같을 때 이름을 index로 하고 점수를 values로 하는 Series 만들기 
\
\
철수: 88 \
영희: 95 \
길동: 100 \
몽룡: 67

In [25]:
ser = pd.Series(data=[88, 95, 100, 67], index=['철수', '영희', '길동', '몽룡'])
ser.name = '사회 점수'
ser

철수     88
영희     95
길동    100
몽룡     67
Name: 사회 점수, dtype: int64

In [24]:
# dict로 만들어보기 
scores = {'철수': 88, '영희': 95, '길동': 100, '몽룡': 67}
ser = pd.Series(scores)
ser

철수     88
영희     95
길동    100
몽룡     67
dtype: int64

In [4]:
scores = dict(철수=88, 영희=95, 길동=100, 몽룡=67)
ser = pd.Series(scores)
ser

철수     88
영희     95
길동    100
몽룡     67
dtype: int64

## 1.2 Index를 속성 처럼 활용하기 

- label 값이 공백 없는 문자열인 경우에는 index label이 속성인것처럼 마침표(.)를 활용하여 해당 index 값에 접근 가능

In [32]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d)
ser

a    1
b    2
c    3
dtype: int64

In [33]:
ser.a, ser.b, ser.c # 넘파이 자료형으로 반환되는 이유: pandas는 내부적으로 NumPy 배열을 사용 하여 데이터를 관리

(np.int64(1), np.int64(2), np.int64(3))

## 1.3 Series 특징

- index를 마치 딕셔너리에 key처럼 사용할 수 있음
- ex)
    - in연산 가능
    - items()메서드를 통해 for문에서 각 요소의 key와 value에 접근 가능

In [34]:
s = pd.Series([9_904_312, 3_448_737, 2_890_451, 2_466_052],
              index=['서울', '부산', '인천', '대구'])

In [35]:
# in 사용 

print('서울' in s)
print('대전' in s)

True
False

In [37]:
# items() 사용 

for k, v in s.items():
    print(k, v)

서울 9904312
부산 3448737
인천 2890451
대구 2466052

[연습 문제] 도시의 인구가 300만이 넘는 곳을 찾아 다음과 같이 출력해보세요
- for문과 items()메서드를 활용하세요
\
\
서울의 인구는 300만이 넘습니다. \
부산의 인구는 300만이 넘습니다.

In [38]:
s = pd.Series([9_904_312, 3_448_737, 2_890_451, 2_466_052],
              index=['서울', '부산', '인천', '대구'])

for i, v in s.items():
    if v > 3_000_000:
        print(f'{i}의 인구는 300만이 넘습니다.')

서울의 인구는 300만이 넘습니다.
부산의 인구는 300만이 넘습니다.

## 1.4 Series 연산하기

In [39]:
s = pd.Series([9_904_312, 3_448_737, 2_890_451, 2_466_052],
              index=['서울', '부산', '인천', '대구'])

s / 1_000_000 # index에는 영향을 주지 않음

서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
dtype: float64

## 1.5 인덱싱

- 시퀀스 객체 인덱싱 방식 사용 가능
- label을 이용한 인덱싱 가능

In [51]:
import warnings

warnings.filterwarnings('ignore', category=FutureWarning)

In [52]:
s = pd.Series([9_904_312, 3_448_737, 2_890_451, 2_466_052],
              index=['서울', '부산', '인천', '대구'])

s[1], s['부산'] # 시퀀스 인덱싱 방식은 사라질 예정

(np.int64(3448737), np.int64(3448737))

In [53]:
s[3], s['대구']

(np.int64(2466052), np.int64(2466052))

In [54]:
# 배열 인덱싱 -> 부분적인 값을 가지는 Series 자료형 반환 
# 자료의 순서를 바꾸거나 특정한 자료만 취사 선택할 수 있음 

s = pd.Series([9_904_312, 3_448_737, 2_890_451, 2_466_052],
              index=['서울', '부산', '인천', '대구'])

print(s[[0, 3, 1]]) # 서울 대구 부산 
print()
print(s[['서울', '대구', '부산']])

서울    9904312
대구    2466052
부산    3448737
dtype: int64

서울    9904312
대구    2466052
부산    3448737
dtype: int64

In [56]:
# 하나의 값만 series로 갖고오고 싶을 경우 

print(s[0]) # 해당 위치의 value 반환
print('-'*10)

print(s[[0]]) # 해당 위치의 value를 series로 반환

9904312
----------
서울    9904312
dtype: int64

## 1.6 slicing

- slicing으로도 부분적인 Series 반환
- label을 이용한 슬라이싱을 하는 경우, 콜론 뒤의 값도 포함되므로 주의하기

In [57]:
s = pd.Series([9_904_312, 3_448_737, 2_890_451, 2_466_052],
              index=['서울', '부산', '인천', '대구'])

In [58]:
print(s[1:3]) # 1~2 요소 출력

부산    3448737
인천    2890451
dtype: int64

In [59]:
print(s['부산': '대구']) # 대구도 포함해서 출력

부산    3448737
인천    2890451
대구    2466052
dtype: int64

## 1.7 index 기반 연산

- 인덱스가 같은 데이터에 대해서만 연산

In [64]:
# 2015년 도시별 인구
s1 = pd.Series([9_904_312, 3_448_737, 2_890_451, 2_466_052],
              index=['서울', '부산', '인천', '대구']) 

# 2010년 도시별 인구
s2 = pd.Series([9631482, 3393191, 2632035, 1490158],
              index=['서울', '부산', '인천', '대전'])

In [65]:
s3 = s1 - s2 # 대구와 대전은 NaN이 뜸 
s3

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

## 1.8 값이 NaN인지 확인 하기 
- 값이 NaN이면 True, NaN이 아니면 False인 bool 타입의 Series를 구하려면 isnull() 메서드 사용

In [66]:
s3

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [67]:
s3.isnull()

대구     True
대전     True
부산    False
서울    False
인천    False
dtype: bool

- NaN이 아니면 True, NaN이면 False 값을 갖는 bool 타입의 Series를 구하려면 notnull()메서드 사용

In [68]:
s3.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

- notnull() 메서드로 구한 True/False 값을 갖는 시리즈를 활용하여, NaN인 값을 배제한 Series 객체를 인덱싱하여 만들 수 있음

In [69]:
s3[s3.notnull()]

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

- NaN 값인 것을 배제하고 2010년 대비 2015년 인구 증가율(%) 구하기

In [71]:
# 2015년 도시별 인구
s1 = pd.Series([9_904_312, 3_448_737, 2_890_451, 2_466_052],
              index=['서울', '부산', '인천', '대구']) 

# 2010년 도시별 인구
s2 = pd.Series([9631482, 3393191, 2632035, 1490158],
              index=['서울', '부산', '인천', '대전'])

s3 = s1 - s2 / s2 * 100 # 과거 인구 대비 변화량 구하기 
s3 = s3[s3.notnull()]
s3

부산    3448637.0
서울    9904212.0
인천    2890351.0
dtype: float64

[연습 문제] 2010년 대비 2015년 인구 증가를 구하세요 
- NaN 값인 것은 배제하기 
- 인구 수 증가가 가장 많은 도시의 이름과 증가한 인구수를 Series 객체로 출력하기

In [74]:
# 2015년 도시별 인구
s1 = pd.Series([9_904_312, 3_448_737, 2_890_451, 2_466_052],
              index=['서울', '부산', '인천', '대구']) 

# 2010년 도시별 인구
s2 = pd.Series([9631482, 3393191, 2632035, 1490158],
              index=['서울', '부산', '인천', '대전'])

s3 = s1 - s2 
s3 = s3[s3.notnull()] # notnull인 데이터만 모아서 series로 만들기 
s3[[s3.values.argmax()]] # s3.values는 numpy array라서 np의 argmax를 쓰면 됨

서울    272830.0
dtype: float64

In [75]:
s3.values

array([ 55546., 272830., 258416.])

## 1.9 데이터 추가, 갱신, 삭제
- 없는 인덱스에 값을 할당하면 Series에 데이터가 추가됨

In [77]:
s = pd.Series(data=[1.60000, 2.832690, 9.818107], index=['부산', '서울', '인천'])
s

부산    1.600000
서울    2.832690
인천    9.818107
dtype: float64

In [78]:
s['대구'] = 1.41 # 딕셔너리에 값을 추가하는 방식과 동일 
s

부산    1.600000
서울    2.832690
인천    9.818107
대구    1.410000
dtype: float64

- 데이터 삭제할 때도 del 명령어 사용

In [79]:
del s['서울']

s

부산    1.600000
인천    9.818107
대구    1.410000
dtype: float64